################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DoAn3/v17
/AptitudeWebApp/.vs/AptitudeWebApp
/AptitudeWebApp/bin/Debug/net8.0
/AptitudeWebApp/obj/Debug/net8.0/AptitudeWebApp.assets.cache
/AptitudeWebApp/obj/Debug/net8.0/AptitudeWebApp.csproj.AssemblyReference.cache
/AptitudeWebApp/obj/Debug/net8.0/AptitudeWebApp.GeneratedMSBuildEditorConfig.editorconfig
/AptitudeClassLib/bin/Debug/net8.0/AptitudeClassLib.dll
/AptitudeClassLib/bin/Debug/net8.0/AptitudeClassLib.pdb
/documentation/OnlineAptitudeTest.pdf
/AptitudeClassLib/bin/Debug/net8.0/AptitudeClassLib.dll
/AptitudeClassLib/bin/Debug/net8.0/AptitudeClassLib.pdb
/AptitudeWebApp/Migrations/20240101110533_InitialMigration.cs
/AptitudeWebApp/Migrations/20240101110533_InitialMigration.Designer.cs
/AptitudeWebApp/Migrations/AptitudeContextModelSnapshot.cs
/AptitudeWebApp/obj/AptitudeWebApp.csproj.nuget.dgspec.json
/AptitudeWebApp/obj/AptitudeWebApp.csproj.nuget.g.props
/AptitudeWebApp/obj/AptitudeWebApp.csproj.nuget.g.targets
/AptitudeWebApp/obj/Debug/net8.0/apphost.exe
/AptitudeWebApp/obj/Debug/net8.0/AptitudeWebApp.csproj.CoreCompileInputs.cache
/AptitudeWebApp/obj/Debug/net8.0/AptitudeWebApp.csproj.FileListAbsolute.txt
/AptitudeWebApp/obj/Debug/net8.0/AptitudeWebApp.dll
/AptitudeWebApp/obj/Debug/net8.0/AptitudeWebApp.pdb
/AptitudeWebApp/obj/Debug/net8.0/AptitudeWebApp.sourcelink.json
/AptitudeWebApp/obj/Debug/net8.0/project.razor.vs.bin
/AptitudeWebApp/obj/Debug/net8.0/ref/AptitudeWebApp.dll
/AptitudeWebApp/obj/Debug/net8.0/refint/AptitudeWebApp.dll
/AptitudeWebApp/obj/Debug/net8.0/scopedcss/bundle/AptitudeWebApp.styles.css
/AptitudeWebApp/obj/Debug/net8.0/staticwebassets/msbuild.AptitudeWebApp.Microsoft.AspNetCore.StaticWebAssets.props
/AptitudeWebApp/obj/Debug/net8.0/staticwebassets.build.json
/AptitudeWebApp/obj/Debug/net8.0/staticwebassets.development.json
/AptitudeWebApp/obj/Debug/net8.0/staticwebassets.pack.json
/AptitudeWebApp/obj/project.assets.json
/AptitudeWebApp/obj/project.nuget.cache
*.dll
*.cs
*.cache
*.editorconfig
/AptitudeClassLib/obj/AptitudeClassLib.csproj.nuget.dgspec.json
/AptitudeClassLib/obj/AptitudeClassLib.csproj.nuget.g.props
/AptitudeClassLib/obj/Debug/net8.0/AptitudeClassLib.pdb
/AptitudeClassLib/obj/Debug/net8.0/AptitudeClassLib.sourcelink.json
/AptitudeClassLib/obj/project.assets.json
/AptitudeWebAPI/bin/Debug/net8.0/AptitudeWebAPI.pdb
/AptitudeWebAPI/obj/AptitudeWebAPI.csproj.nuget.dgspec.json
/AptitudeWebAPI/obj/AptitudeWebAPI.csproj.nuget.g.props
/AptitudeWebAPI/obj/Debug/net8.0/apphost.exe
/AptitudeWebAPI/obj/Debug/net8.0/AptitudeWebAPI.pdb
/AptitudeWebAPI/obj/Debug/net8.0/AptitudeWebAPI.sourcelink.json
/AptitudeWebAPI/obj/Debug/net8.0/project.razor.vs.bin
/AptitudeWebAPI/obj/project.assets.json
/AptitudeWebApp/.vs/ProjectEvaluation/aptitudewebapp.metadata.v7.bin
/AptitudeWebAPI/bin/Debug/net8.0/AptitudeWebAPI.exe
/AptitudeWebApp/.vs/ProjectEvaluation/aptitudewebapp.projects.v7.bin
