.create {
    width: 9.3em;
    height: 1.875em;
    margin-top: -3.125em;
    background: #ffd800;
    border-radius: 1em;
    text-align: center;
    position: absolute;
    /* font-size: larger; */
    padding-top: 0.5em;
    text-decoration: none;
    color: white;
    right: 3.2em;
}

    .create a {
        text-decoration: none;
    }

#search-box {
    background-color: white;
    border-radius: 30px;
}

    #search-box:hover #search-text, #search-box:hover #search-text:valid {
        width: 300px;
        padding: 10px 0px 10px 15px;
    }

    #search-box search-text {
        border: none;
        outline: none;
        background: none;
        font-size: 18px;
        width: 0;
        padding: 0;
        transition: all 0.25s ease-in-out;
    }

    #search-box search-btn {
        background-color: white;
        cursor: pointer;
        border: none;
        padding: 15px;
        border-radius: 50%;
        font-size: 10px;
    }
