@* <h3>Login</h3>
 *@

@{
    Layout = null;
}

<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Exam Page</title>
    <link rel="stylesheet" href="~/css/exam.css" asp-append-version="true" />

</head>
<body>
    <div class="wrapper">

        <div>
            <a class="result">General knowledge</a>
        </div>
        <form asp-controller="Exam" asp-action="Submit"></form>
        <ol type="1">
            @foreach(var question in ViewBag.Questions)
            {
                <li>
                    @question.Nam
                </li>
            }
        </ol>
        <div>
            <a class="result1">Question 1:</a>
        </div>
        <div>
            <a href="#" class="logout">logout</a>
        </div>

        <div>
            <a class="exit1"></a>
            <a href="#" class="exit">EXIT</a>
            <a href="#" class="exit2">EXIT</a>
        </div>



        <form action="#">
        </form>
    </div>
</body>
</html>