@* <h3>Login</h3>
 *@

@{
    Layout = null;
}

<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Exam Dashboard</title>
    <link rel="stylesheet" href="~/css/applicant.css" asp-append-version="true" />

</head>
<body>
    <div class="wrapper">

        <div>
            <a href="#" class="summit">Submmit</a>
        </div>

        <div>
            <a href="#" class="logout">logout</a>
        </div>

        <div>
            <a class="exam">Exam</a>
            <a href="#" class="enter">Enter</a>
        </div>
        <div>
            <a class="exam1">Exam</a>
        </div>
        <div>
            <a class="exam2">Exam</a>
        </div>





        <form action="#">
        </form>
    </div>
</body>
</html>