<h3>ExamDashboard</h3>

<div class="box" style="width:200px ; border:solid ; height: 150px ; align-content : center ; text-decoration: none ; padding-left: 5px" >
    <a href="#" style="text-decoration: none ;">General Knowledge</a>
    <hr />
    <a href="#" style="text-decoration: none ;">Mathematics</a>
    <hr />
    <a href="#" style="text-decoration: none ;">Computer Technology</a>

</div>




