@* <h3>Login</h3>
 *@

@{
    Layout = null;
}

<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Result</title>
    <link rel="stylesheet" href="~/css/result.css" asp-append-version="true" />

</head>
<body>
    <div class="wrapper">

        <div>
            <a class="result">RESULT</a>
        </div>
        <div>
            <a class="result1">TOTAL SCORE</a>
        </div>
        <div>
            <a href="#" class="logout">logout</a>
        </div>
        <div>
            <a href="#" class="exit">EXIT</a>
        </div>

        <div>
            <a class="total">Total</a>
            <a class="total1">10/15</a>
        </div>

        <div>
            <a class="exam">Exam</a>
            <a class="enter">1/5</a>
        </div>
        <div>
            <a class="exam1">Exam</a>
            <a class="enter1">5/5</a>
        </div>
        <div>
            <a class="exam2">Exam</a>
            <a class="enter2">4/5</a>
        </div>





        <form action="#">
        </form>
    </div>
</body>
</html>