@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="" rel="stylesheet" />
   
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <title>AddQuestion</title>
</head>
<body>
<header>

    <div class="topnav1">
        <img class="logo" src="/images/logo.png" style="width:60px">
        <a class="link" asp-action="ApplicantDashboard">Report</a>
        <a class="link" asp-action="ViewApplicant">Applicants</a>
        <a class="link" asp-action="ViewQuestion">Questions</a>

        <a asp-action="LogOut" asp-controller="Account" class="split">LOGOUT</a>
        <a class="l">Hello, Manager</a>
    </div>

    <!-- Top Navigation Menu -->
    <div class="topnav2">
        <img class="active" src="/images/logo.png">
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</header>
</body>
</html>