@model AptitudeWebApp.Models.ApplicantEducationCompaniesViewModel

@{

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/editApplicant.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <title>Add Applicant</title>
</head>
<body>
    @Html.Partial("_Narbar")

    <div class="container">
        <div class="row" style="margin-left: 10px">
            <div class="col-md-12">
                <form asp-action="AddApplicant" asp-controller="Manager" enctype="multipart/form-data" method="post" class="d-flex flex-column">
                    <div class="form-group my-2">
                        
                        <input type="submit" value="Create" class="custom-submit" style="float:right" />
                    </div><br />
                    <div class="re">
                        <div>
                            <h4>Applicant</h4>

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="applicant.FirstName" class="control-label"></label>
                                <input asp-for="applicant.FirstName" class="form-control"  />
                                <span asp-validation-for="applicant.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="applicant.LastName" class="control-label"></label>
                                <input asp-for="applicant.LastName" class="form-control" />
                                <span asp-validation-for="applicant.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="applicant.Age" class="control-label"></label><br />
                                <input asp-for="applicant.Age" class="form-control" />
                                <span asp-validation-for="applicant.Age" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="applicant.Address" class="control-label">Address</label>
                                <input asp-for="applicant.Address" class="form-control" />
                                <span asp-validation-for="applicant.Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="applicant.Email" class="control-label"></label>
                                <input type="text" asp-for="applicant.Email" class="form-control" />
                                <span asp-validation-for="applicant.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="applicant.City" class="control-label"></label><br />
                                <input asp-for="applicant.City" class="form-control" />
                                <span asp-validation-for="applicant.City" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="applicant.PhoneNumber" class="control-label"></label>
                                <input asp-for="applicant.PhoneNumber" class="form-control" />
                                <span asp-validation-for="applicant.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Notes</label>
                                <input asp-for="applicant.Notes" class="form-control" />
                                <span asp-validation-for="applicant.Notes" class="text-danger"></span>
                            </div>
                            @* <div class="form-group">
                            <label asp-for="ImagePath" class="control-label"></label>
                            <input type="file" name="file" class="form-control" required />
                            <span asp-validation-for="ImagePath" class="text-danger"></span>
                            </div> *@
                            <div class="form-group">
                                <label class="control-label">User Name</label>
                                <input asp-for="applicant.Username" class="form-control" />
                                <span asp-validation-for="applicant.Username" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Password</label>
                                <input asp-for="applicant.Password" class="form-control" />
                                <span asp-validation-for="applicant.Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div style="margin-right: 15%;margin-left: 15%;">
                            <h4>Applicant Education</h4>
                            <div class="form-group">
                                <label class="control-label">COEName</label>
                                <input asp-for="applicantEducation.COEName" class="form-control" />
                                <span asp-validation-for="applicantEducation.COEName" class="text-danger"></span>
                            </div>

                            

                           
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <input asp-for="applicantEducation.Description" class="form-control" />
                                <span asp-validation-for="applicantEducation.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Notes</label><br />
                                <input asp-for="applicantEducation.Notes" class="form-control" />
                                <span asp-validation-for="applicantEducation.Notes" class="text-danger"></span>
                            </div>
                           

                            <div class="form-group">
                                <label class="control-label">StartDate</label><br />
                                <input asp-for="applicantEducation.StartDate" class="form-control" />
                                <span asp-validation-for="applicantEducation.StartDate" class="text-danger"></span>
                            </div >
                           

                            <div class="form-group">
                                <label class="control-label">EndDate</label><br />
                                <input asp-for="applicantEducation.EndDate" class="form-control" />
                                <span asp-validation-for="applicantEducation.EndDate" class="text-danger"></span>
                            </div>
                            

                        </div>
                        <div>
                            <h4>Applicant Companies</h4>

                            <div class="form-group">
                                <label class="control-label">Company Name</label>
                                <input asp-for="applicantCompanies.CompanyName" class="form-control" />
                                <span asp-validation-for="applicantCompanies.CompanyName" class="text-danger"></span>
                            </div>




                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <input asp-for="applicantCompanies.Description" class="form-control" />
                                <span asp-validation-for="applicantCompanies.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Notes</label><br />
                                <input asp-for="applicantCompanies.Notes" class="form-control" />
                                <span asp-validation-for="applicantCompanies.Notes" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label class="control-label">StartDate</label><br />
                                <input asp-for="applicantCompanies.StartDate" class="form-control" />
                                <span asp-validation-for="applicantCompanies.StartDate" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label class="control-label">EndDate</label><br />
                                <input asp-for="applicantCompanies.EndDate" class="form-control" />
                                <span asp-validation-for="applicantCompanies.EndDate" class="text-danger"></span>
                            </div>
                        </div>

                    </div>



                </form>
            </div>
        </div>
    </div>
    

</body>
</html>
@section Scripts{


}
